/target/
/.txt
.DS_Store
/reports/cucumber/
/reports/
src/test/resources/reports/
src/test/java/com.pulse.app/sessionbuilder/CreateSessionCucumber
src/test/java/com.pulse.app/testrunner/CucumberRunner

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
/test-output/
